
{{! Main Sidebar Container }}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  {{! Brand Logo }}
  <a href="#" class="brand-link">
    <img src="dist/img/TallerHnoFloresLogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .95; background-color: white;">
    <span class="brand-text font-weight-light">Taller Hno Flores</span>
  </a>

  {{! Sidebar }}
  <div class="sidebar">
    {{! Sidebar user panel (optional) }}
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">

    </div>

    {{! SidebarSearch Form }}
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    {{! Sidebar Menu }}
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
        data-accordion="false">

        <li class="nav-header">Formularios</li>
        <li class="nav-item">
          <a href="./cliente" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Cliente
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon fa fa-car"></i>
            <p>
              Vehiculo
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="./vehiculo" class="nav-link">
                <i class="fa fa-plus nav-icon"></i>
                <p>Nuevo Vehiculo</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="./modelo" class="nav-link">
                <i class="fa fa-info-circle nav-icon"></i>
                <p>Modelo</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="./carroceria" class="nav-link">
                <i class="fa fa-car nav-icon"></i>
                <p>Carrocería</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="./color" class="nav-link">
                <i class="fa fa-paint-brush nav-icon"></i>
                <p>Color</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/checkin" class="nav-link">
            <i class="nav-icon fas fa-check-square"></i>
            <p>
              Check in
              {{! <span class="badge badge-info right">6</span> }}
            </p>
          </a>
        </li>

         <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon fa fa-car"></i>
            <p>
              Orden
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="./orden" class="nav-link">
                <i class="fa fa-plus nav-icon"></i>
                <p>Nueva Orden</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="./falla" class="nav-link">
                <i class="fa fa-times nav-icon"></i>
                <p>Fallas</p>
              </a>
            </li>
          </ul> 
        <li class="nav-item">
          <a href="/producto" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Productos
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/servicio" class="nav-link">
            <i class="nav-icon fas fa-tasks"></i>
            <p>
              Servicios
            </p>
          </a>
        </li>

        <li class="nav-header">Gestión de Empleados</li>
        <li class="nav-item">
          <a href="/mecanico" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Empleados
            </p>
          </a>
        </li>
      </ul>
    </nav>
    {{! /.sidebar-menu }}
  </div>
  {{! /.sidebar }}
</aside>